In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame(columns=['ID','Product_Name'])
df

Empty DataFrame
Columns: [ID, Product_Name]
Index: []

In [6]:
df=df.append({'ID':12,'Product_Name':'jlysb'},ignore_index=True)
df=df.append({'ID':13,'Product_Name':'zwtnb'},ignore_index=True)
df=df.append({'ID':12,'Product_Name':'jlysb'},ignore_index=True)
df

   ID Product_Name
0  12        jlysb
1  13        zwtnb
2  12        jlysb

In [7]:
df.loc[len(df)]=['a1','jj']
df

   ID Product_Name
0  12        jlysb
1  13        zwtnb
2  12        jlysb
3  a1           jj